<div class="row">
    {{#each notes}}
        <div class="col-md-3">
            <div class="card card-outline card-primary">
                <div class="card-header">
                    <h3 class="card-title">
                        {{ title }}
                    </h3>
                    <div class="card-tools">
                        <a href="/notes/edit/{{_id}}" class="btn btn-tool"><i class="fas fa-edit"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <p class="card-text">{{ description }} </p>
                </div>
                <div class="card-footer">
                    <form action="/notes/delete/{{_id}}?_method=DELETE" method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="btn btn-danger btn-block btn-sm"><i class="fas fa-trash"></i> Borrar</button>
                    </form>
                </div>
            </div>
        </div>
    {{else}}
        <div class="card mx-auto">
            <div class="card-body">
                <h1>Bienvenido, {{user.name}}</h1>
                <p clsss="lead">No tienes notas aún</p>
                <a href="/notes/add" class="btn btn-success btn-block"><i class="fas fa-sticky-note"></i> Crear mi
                    primer nota!</a>
            </div>
        </div>
    {{/each}}
</div>